.dist {
    background-color: rgb(249, 249, 249);
}

.trace {
    background-color: rgb(249, 249, 249);
}
.line {
    fill: none;
    stroke-width: 2;
}
.kde {
    fill: none;
    stroke-width: 5;
}
.area {
    /*stroke-width: 0;*/
}

.axis {
    shape-rendering: crispEdges;
}
 
.x.axis path, .x.axis line {
    display: none;
    fill: none;
    stroke: rgb(255, 39, 248);
}

.y.axis line, .y.axis path {
    fill: none;
    stroke: rgba(110, 100, 100, 1.0);
}

.bar {
    fill: rgba(255, 255, 255, 0.45);
    stroke-width: 0.4;
    stroke: rgb(165, 165, 165);
}

.hidden {
    display: none;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
}
